body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	height: 38px;
	width: 38px;
	margin-left: auto;
}
.postcard-header h1 {
	width: 400px;
	margin-right: auto;
	margin-top: auto;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
	margin-right: auto;
}

.body-left,
.body-right {
	padding: 10px;
}
input {
	border: x;
	border-bottom: x;
}
